.products-container {
  margin: 8rem auto;
  max-width: 1200px;

  h1,
  .description {
    margin: 0 0 0 5rem;
  }

  .products-list {
    display: grid;
    justify-items: center;
    margin-top: 2rem;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
